body {
  scroll-behavior: smooth;
  padding-top: 70px;
}

header {
  background: url('../img/banner.jpg') center/cover no-repeat;
  height: 400px;
  color: white;
}

h1, h2 {
  font-weight: bold;
}

#socialCarousel .carousel-control-prev,
#socialCarousel .carousel-control-next {
  z-index: 9999 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

