body {
  scroll-behavior: smooth;
  padding-top: 70px;
}

header {
  background: url('../img/banner.jpg') center/cover no-repeat;
  height: 400px;
  color: white;
}

h1, h2 {
  font-weight: bold;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  background-size: 60%, 60%;
  width: 40px;
  height: 40px;
}


#socialCarousel .carousel-control-prev,
#socialCarousel .carousel-control-next {
  z-index: 9999 !important;
}

